<div class="col-xs-4 col-xs-offset-4">
  <div class="dialog">
      <h1><%= @questions %></h1>
      <p> <%= @answer %></p>
  </div>

  <div class="new-link">
    <%= link_to "Active Projects", ask_path %>
  </div>
</div>
