<div class="col-xs-4 col-xs-offset-4 form-group">
  <div class="form-group text-center">
    <form action="/answer">
      <label for="question">Speak to your coach</label>
      <input type="text" class="form-control" id="question" name="query" placeholder="Ask your question here?">
      <input class="btn btn-primary" type="submit" value="Go on!">
    </form>
  </div>
</div>
